<div>
    <ul class="hero-list-container">
        <li class="add-hero-container">
            <span class="add-btn" (click)="addHero()">Add</span>
            <input type="text" [(ngModel)]="newHeroName">
        </li>
        <li *ngFor="let hero of heroes|async">
            <div class="badge">{{hero.id}}</div>
            <div class="del-btn" (click)="deleteHero(hero)">Delete</div>
            <div class="hero-content" (click)="viewDetail(hero)">{{hero.name}}</div>
        </li>
    </ul>
    <div class="hero-detail-container" *ngIf="selectedHero">
        <h3>
            <span class="title">Hero Detail Info</span>
        </h3>
        <ul class=" edit-form-container ">
            <li class="edit-blocking ">
                <span>id:</span>{{selectedHero.id}}
            </li>
            <li class="edit-blocking ">
                <span>name:</span>
                <input type="text " [(ngModel)]="modifiedHeroName" />
            </li>
            <li class="edit-btn-container ">
                <button class="edit-btn " (click)="save() ">Save</button>
                <button class="edit-btn " (click)="cancel() ">cancel</button>
            </li>
        </ul>
        <h3>
            <span class="title">Recevied Message</span>
        </h3>
        <ul class="message-list-container ">
            <li *ngIf="receiveMsg.length===0 " class="empty-message ">none message!</li>
            <li *ngFor="let msg of receiveMsg">
                <span class="msg-author ">{{msg.auth}}</span>
                <span class="msg-content ">{{msg.message}}</span>
            </li>
        </ul>
    </div>
</div>