<div>
    <ul class="hero-list-container">
        <li class="add-hero-container">
            <span class="add-btn" (click)="addHero()">Add</span>
            <input type="text" [(ngModel)]="newHeroName">
        </li>
        <li *ngFor="let hero of heroes|async">
            <span class="del-btn" (click)="deleteHero(hero)">Delete</span>
            <span class="badge">{{hero.id}}</span>
            <span (click)="selectHero(hero)">{{hero.name}}</span>
        </li>
    </ul>
</div>
<div *ngIf="selectedHero">
    <app-hero-detail></app-hero-detail>
</div>