<div>
    <ul class="hero-list-container">
        <li class="add-hero-container">
            <span class="add-btn" (click)="addHero()">Add</span>
            <input type="text" [(ngModel)]="newHeroName">
        </li>
        <li *ngFor="let hero of heroes|async">
            <div class="badge">{{hero.id}}</div>
            <div class="del-btn" (click)="deleteHero(hero)">Delete</div>
            <div class="hero-content" (click)="viewDetail(hero)">{{hero.name}}</div>
        </li>
    </ul>
</div>