<div>
    <table class="msg-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>FROM</th>
                <th>TO</th>
                <th>MESSAGE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of messages">
                <td>{{message.id}}</td>
                <td>{{message.auth}}</td>
                <td>{{message.addressee}}</td>
                <td>{{message.message}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="messages.length===0">no message</div>