.manage-nav-container {
    height: 33px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}

.manage-nav-container a {
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
    color: #333;
}

.manage-nav-container a.active {
    border-width: 4px 1px 1px 1px;
    border-style: solid;
    border-color: #0099ff #ddd #fff #ddd;
    border-radius: 6px 6px 0 0;
}

/*英雄管理*/
.hero-list-container {
    margin-left: 15px;
    width: 500px;
}

.hero-list-container li {
    box-sizing: border-box;
    height: 28px;
    margin: 8px 0;
    line-height: 28px;
    overflow: hidden;
    border: 1px solid #095872;
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
}

.hero-list-container li ::after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.hero-list-container li.add-hero-container input {
    margin-left: 8px;
    width: 320px;
    height: 28px;
    padding-left: 5px;
    line-height: 28px;
    border-width: 0;
    vertical-align: top;
    outline: 0;
}

.hero-list-container li.add-hero-container .add-btn {
    float: right;
    width: 60px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background-color: #095872;
    text-align: center;
}

.hero-list-container li div.badge {
    float: left;
    width: 60px;
    text-align: center;
    background-color: #095872;
    color: #fff;
}

.hero-list-container li div.hero-content {
    margin-left: 60px;
    margin-right: 100px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-spacing: 0;
}

.hero-list-container li div.del-btn {
    float: right;
    width: 100px;
    text-align: center;
    background-color: #095872;
    color: #fff;
}