<div *ngIf="!loginStatus">
    <ul class="login-container">
        <li class="login-form">
            <span class="login-label">Username:</span>
            <input type="text" placeholder="please input you name" />
        </li>
        <li class="login-form">
            <span class="login-label">Password:</span>
            <input type="text" placeholder="please input you name" />
        </li>
    </ul>
</div>
<p *ngIf="message" class="message-container">{{message}}</p>
<div>
    <button class="login-btn" [disabled]="loginStatus" (click)="login()">Login</button>
    <button class="login-btn" [disabled]="!loginStatus" (click)="logout()">Logout</button>
</div>